.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 200px;
    margin: 10px 0;  /* vertical space of 10px, no horizontal space */
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
  }


  .image-container {
    margin-bottom: 50px;
  }
  
  .uploaded-image {
    max-width: 80vw;
    height: auto;
  }
  
  .image-caption {
    text-align: center;
  }
  
  