{% load static %}
<!DOCTYPE html>
<html>


    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
      </head>


<body>



  <header>
    <img src="{% static 'main_logo.png' %}" alt="Logo" class="logo">
  </header>


    <h2>All Your Previous Uploads</h2>
<!-- Button to navigate to the all images page -->
<a href="/upload/" class="button">Upload More Image</a>


{% for image in images %}
  <div class="image-container">
    <img class="uploaded-image" src="{{ image.image.url }}" alt="Uploaded image">
    <p class="image-caption">{{ image.name }}</p>
  </div>
{% endfor %}




</body>
</html>
